<launch>
  <arg name="robot_model" />
  <arg name="onrobot_model" />
  <arg name="path"   value="(find $(arg robot_model)_moveit_config)" />
  <arg name="dollar" value="$" /> 

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro robot_model:=$(arg robot_model) onrobot_model:=$(arg onrobot_model) '$(find ur_onrobot_description)/urdf/ur_onrobot.xacro'"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" command="xacro '$(find ur_onrobot_moveit_config)/config/ur_onrobot.srdf.xacro' robot_model:=$(arg robot_model) onrobot_model:=$(arg onrobot_model)" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(arg dollar)$(arg path)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(arg dollar)$(arg path)/config/kinematics.yaml"/>

  </group>

</launch>
