<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="$(arg robot_model)_onrobot_$(arg onrobot_model)">

  <!-- import macro -->
  <xacro:include filename="$(find ur_onrobot_description)/urdf/ur_onrobot_macro.xacro"/>

  <xacro:arg name="cable_connector" default="true"/>
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg robot_model)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg robot_model)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg robot_model)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg robot_model)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>

  <xacro:ur_onrobot_robot
    robot_model="$(arg robot_model)"
    onrobot_model="$(arg onrobot_model)"
    cable_connector="$(arg cable_connector)"
    joint_limit_params="$(arg joint_limit_params)"
    kinematics_params="$(arg kinematics_params)"
    physical_params="$(arg physical_params)"
    visual_params="$(arg visual_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"/>

</robot>