<?xml version="1.0"?>
<launch>
    <arg name="robot_model" default="ur3e" />
    <arg name="onrobot_model" default="rg2" />
    <arg name="robot_ip" default="150.22.0.250" />
    <arg name="tool_device_name" default="/tmp/ttyUR" />
    <arg name="tool_tcp_port" default="54321" />
    <arg name="gripper_controller" default="gripper_action" />
    <arg name="rviz" default="false" />
    
    <arg name="kinematics_config" default="$(find ur_description)/config/$(arg robot_model)/default_kinematics.yaml" />
    <arg name="robot_description_file" default="$(find ur_onrobot_description)/launch/load_$(arg robot_model)_onrobot_$(arg onrobot_model).launch" />
    
    <include file="$(find ur_robot_driver)/launch/$(arg robot_model)_bringup.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
        <arg name="kinematics_config" value="$(arg kinematics_config)" />
        <arg name="robot_description_file" value="$(arg robot_description_file)" />
        <arg name="use_tool_communication" value="true" />
        <arg name="tool_voltage" value="24" />
        <arg name="tool_parity" value="2" />
        <arg name="tool_baud_rate" value="1000000" />
        <arg name="tool_stop_bits" value="1" />
        <arg name="tool_rx_idle_chars" value="1.5" />
        <arg name="tool_tx_idle_chars" value="3.5" />
        <arg name="tool_device_name" value="$(arg tool_device_name)" />
        <arg name="tool_tcp_port" value="$(arg tool_tcp_port)" />
    </include>

    <include file="$(find ur_onrobot_rg_control)/launch/bringup_rg.launch">
        <arg name="device" value="$(arg tool_device_name)" />
        <arg name="gripper" value="$(arg onrobot_model)" />
        <arg name="controller" value="$(arg gripper_controller)" />
    </include>

    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_onrobot_description)/cfg/view_robot.rviz" required="true"/>
    </group>
</launch>